__history/*
__recovery/*
win32/Debug/*
Linux64/Debug/*
model/__history/*
model/__recovery/*
controller/__history/*
controller/__recovery/*
report/__history/*
report/__recovery/*
*.res
*.exe
*.log
www/
